/*
.table td, .table th  {
    vertical-align: bottom !important;
}

#city-name  {
    vertical-align: middle !important;
}
*/
.heading-container {
    background-color: #0080FF;
    padding: 5px;
}

.heading-title {
    color: #fff;;
    text-align: center;
}

td, th {
    vertical-align: middle !important;
    text-align: center !important;
}

.input-group {
    margin: 20px 0px;
}

svg {
    height: 150px;
}

td:first-of-type, td:first-of-type > div {
    height: 200px;
    width: 200px;
}